# ignore build directories
build*/

# ignore non-essential GLib enum build files
uca-pcoclhs-enums.[ch]
uca-pcousb-enums.[ch]

# ignore temporary test items
*.out
test*

# other
.vscode/
.temp*/
*.out
test*
*.bak