# ignore build directories
build*/

# ignore non-essential GLib enum build files
uca-*-enums.[ch]

# ignore temporary test items
*.out
test*
*.tif*
*.bmp

# other
.vscode/
.temp*/
*.out
test*
*.bak
*.log*